<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  <% (@packs || []).each do |pack| %>
    <div class="card bg-gray-100 p-4 rounded-lg">
      <h3 class="text-xl font-bold mb-2"><%= pack.name %></h3>
      <p>$ <%= pack.price %></p>
      <p><%= pack.energy_units %> Energy Units</p>
    </div>
  <% end %>
</div>