<nav class="bg-gray-800 text-white p-4">
  <div class="container mx-auto flex items-center justify-between">
    <div class="text-lg font-bold">
<!--      link to home page route-->
      <a href="/">
      <span class="text-gray-400">PowerCompany</span>
      </a>
    </div>
    <div class="space-x-4">
      <%= link_to "Home", root_path  %>
      <%= link_to "About", pages_about_path  %>
    </div>
    <div>
      <button class="text-white">Profile</button>
    </div>
  </div>
</nav>