<aside class="w-1/4 bg-gray-200 p-4 overflow-auto">
  <ul class="space-y-4">
    <% 10.times do %>
      <li><a href="#" class="text-gray-700">Dashboard</a></li>
      <li><a href="#" class="text-gray-700">Settings</a></li>
      <li><a href="#" class="text-gray-700">Profile</a></li>
    <% end %>
  </ul>
</aside>