<aside class="w-1/4 bg-gray-200 p-4 overflow-auto">
<!--  <ul class="space-y-4">-->
    <%# 10.times do %>
<!--      <li><a href="#" class="text-gray-700">Dashboard</a></li>-->
<!--      <li><a href="#" class="text-gray-700">Settings</a></li>-->
<!--      <li><a href="#" class="text-gray-700">Profile</a></li>-->
    <%# end %>
<!--  </ul>-->

  <div class="www-1/4 p-4 bg-gray-200">
    <h2 class="text-xl font-bold mb-4">Customers</h2>
    <ul>
      <% @customers.each do |customer| %>
        <li class="mb-2">
          <%= link_to customer.name, show_customer_path(customer), remote: true %>
          <%#= link_to customer.name, "#", class: "text-blue-500" %>
        </li>
      <% end %>
    </ul>
  </div>
</aside>